artifacts
cache
cache_forge
node_modules
coverage
coverage.json
coverage-forge
build
out
dist
.coverage_contracts
.coverage_artifacts
.env
.idea
typechain-types
.DS_Store
lcov.info
*.log
mochaOutput.json
